﻿@using NZOZB.Models.Common
@model List<ShortClinicInformation>

<div>
    <div class="row ">
        <ul class="list-group">

            @foreach (ShortClinicInformation clinic in Model)
            {
                <li class="list-group-item">
                    @Ajax.ActionLink(clinic.ClinicName, "GETClinicDescription", "Home", new { clinicId = clinic.Id }, new AjaxOptions()
               {
                   UpdateTargetId = "clinic-description",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
               })
                </li>
            }
        </ul>
    </div>
</div>
