﻿@using NZOZB.Models.Common
@model HealthCenterContactCard

<div>
    @if (Model != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@Model.CenterName</div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#address">Adres</a></li>
                    <li><a data-toggle="tab" href="#open-hours">Godziny otwarcia</a></li>
                    <li><a data-toggle="tab" href="#contact-form">Formularz kontaktowy</a></li>
                </ul>
                <div class="tab-content">
                    <div id="address" class="tab-pane fade in active">
                        <h2>@Model.CenterName</h2>
                        <p>@Model.Street @Model.PostCode @Model.Street</p>
                        <p>
                            @foreach (var phone in Model.Phone)
                            {
                                @phone.Number <span>&nbsp;</span>
                            }
                        </p>
                    </div>
                    <div id="open-hours" class="tab-pane fade">
                        <table>
                            <thead>
                                <tr>
                                    <td>Dzień</td>
                                    <td>Godzina otwarcia</td>
                                    <td>Godzina zamknięcia</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OpeningHour)
                                {
                                    string openTime = (item.StartTime != null) ? item.StartTime.ToString() : "nieczynne";
                                    string closeTime = (item.FinishTime != null) ? item.FinishTime.ToString() : "nieczynne";
                                    string dayName = (item.DayNumber != null) ? System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.DayNames[(int)item.DayNumber - 1] : string.Empty;
                                    <tr>
                                        <td>
                                            @dayName
                                        </td>
                                        <td>
                                            @openTime
                                        </td>
                                        <td>
                                            @closeTime
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contact-form" class="tab-pane fade">
                        @Ajax.BeginForm("SendMail", new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "after-mail"
                   });
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <legend>Wiadomość</legend>
                            <div>@Html.DropDownListFor(a => a.ReturnedMailAddress, new SelectList(Model.Mail, "Address", "AddressDescription"), new { @class = "receiver-address" })</div>
                            <div>@Html.TextBoxFor(a => a.MailMessage.From)</div>
                            <div>@Html.TextBoxFor(a => a.MailMessage.Message)</div>
                            <div><input type="submit" value="Send" /></div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {

    }
</div>
