﻿<div id="test-date">
    @*<div class="col-md-10">
        @Html.TextBox("test-date", string.Format("{0:d}", DateTime.Now.Date.ToString(), new { @class = "date-picker", type = "date" }))
    </div>*@
</div>

<script>
    SetDatePicker('#test-date');
</script>
