﻿@using NZOZB.Models.Common
@model PatientData

<!--
    Imię, Nazwisko, - niezmienne
    Nazwisko matki - niezmienne
    Data urodzin - niezmienne
    Płeć - zmienne
    Pesel - zmienne
    Street, City, Postcode - zmienne
    Numer telefonu - zmienne
    Adres mailowy - zmienne
    Numer karty ubezpieczenia zdrowowtnego - zmienne
    Nazwisko lekarza - zmienne, może być null
-->
@if (Model != null)
{    <div id="your-data-main-panel" class="panel panel-default"><!-- początek your-data-main-panel-->
        <div class="panel-heading">
            Twoje dane
        </div> <!--koniec panel heading-->
        <div class="panel-body">
            <!-- start panel body-->
            <ul class="nav nav-tabs">
                <!-- start tabóww nawigacyjnych-->
                <li role="presentation" class="active"><a data-toggle="tab" href="#personal-data">Dane osobowe</a></li>
                <li role="presentation"><a data-toggle="tab" href="#address-data">Dane adresowe</a></li>
                <li role="presentation"><a data-toggle="tab" href="#contact-data">Dane kontaktowe</a></li>
                <li role="presentation"><a data-toggle="tab" href="#phisican-data">Lekarz</a></li>
            </ul><!-- koniec tabów nawigacyjnych-->
            <div class="tab-content">
                <!-- początek kolekcji tabów z danymi-->
                <div id="personal-data" class="tab-pane fade in active">
                    <!-- początek taba danych dla personal-data-->
                    <p>Imię i nazwisko: @Model.FirstName @Model.LastName</p>
                    <p>Nazwisko panieńskie matki: @Model.MotherName</p>
                    <p>Płeć: @Model.SexName</p>
                    <p>Pesel: @Model.Pesel</p>
                    <button id="new-personal-data" class="btn" data-toggle="modal" data-target="#modal-personal-data">Zmień</button>
                </div> <!-- koniec taba danych dla personal-data-->
                <div id="address-data" class="tab-pane fade">
                    <!-- początek taba danych dla address-data-->
                    <p>Ulica: @Model.Street</p>
                    <p>Kod pocztowy i miejscowość: @Model.PostCode @Model.City</p>
                    <button id="new-addresss-data" class="btn" data-toggle="modal" data-target="#modal-address-data">Zmień</button>
                </div> <!-- koniec taba danych dla address-data-->
                <div id="contact-data" class="tab-pane fade">
                    <!-- początek taba danych dla contact-data-->
                    <p>Telefon @Model.PhoneNumber</p>
                    <p>Mail: @Model.MailAddress</p>
                    <button id="new-contact-data" class="btn" data-toggle="modal" data-target="#modal-contact-data">Zmień</button>
                </div> <!-- koniec taba danych dla contact-data-->
                <div id="phisican-data" class="tab-pane fade">
                    <!-- początek taba danych dla phisican-data-->
                    <p>Oddział NFZ: @Model.NFZRegionalCode.Where(a => a.Id == Model.NFZCodeId).First().Region</p>
                    <p>Przychodnia: @Model.HealthCenter.Where(a => a.CenterId == @Model.HealthCenterId).First().CenterName</p>
                    <p>Nazwisko lekarza @Model.PhisicanName</p>
                    <button id="new-phisican-data" class="btn" data-toggle="modal" data-target="#modal-phisican-data">Zmień</button>
                </div> <!-- koniec taba danych dla phisican-data-->
            </div><!-- koniec kolekcji tabów z danymi-->
        </div><!-- koniec panel-body-->
        <!-- początek sekcji z szablonami dialogów-->
        <div class="modal fade" id="modal-personal-data" tabindex="-1" role="dialog" aria-labelledby="modal-personal-data-label"><!-- początek dialogu Zmiana danych osobowych-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-personal-data-label">Wprowadź nowe dane</h4>
                    </div>
                    <div class="modal-body">
                        @Html.BeginForm("UserData", "Home", FormMethod.Post)
                        <div>@Html.Label("Imię") @Html.TextBoxFor(a => a.FirstName)</div>
                        <div>@Html.Label("Nazwisko") @Html.TextBoxFor(a => a.LastName)</div>
                        <div>@Html.Label("Nazwisko panieńskie matki") @Html.TextBoxFor(a => a.MotherName)</div>
                        <div>@Html.Label("Pesel") @Html.TextBoxFor(a => a.Pesel)</div>                                                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-address-data" tabindex="-1" role="dialog" aria-labelledby="myModal-label"><!-- początek dialogu zmiany danych adresowych-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModal-label">Zmiana danych adresowych</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.Label("Ulica")
                            @Html.TextBoxFor(a=>a.Street)
                        </div>
                        <div>
                            @Html.Label("Kod pocztowy")
                            @Html.TextBoxFor(a=>a.PostCode)
                            @Html.Label("Miejscowość")
                            @Html.TextBoxFor(a=>a.City)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" value="AddressData" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-contact-data" tabindex="-1" role="dialog" aria-labelledby="modal-contact-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="-label">Dane kontaktowe</h4>
                    </div>
                    <div class="modal-body">
                        <div>@Html.Label("Telefon") @Html.TextBoxFor(a=>a.PhoneNumber)</div>
                        <div>@Html.Label("Mail") @Html.TextBoxFor(a => a.MailAddress)</div>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-phisican-data" tabindex="-1" role="dialog" aria-labelledby="modal-phisican-data-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-phisican-data-label">Wybrany lekarz</h4>
                    </div>
                    <div class="modal-body">
                        <div>@Html.Label("Oddział NFZ") @Html.DropDownListFor(a => a.NFZCodeId, new SelectList(Model.NFZRegionalCode, "Id", "Region"), "Wybierz oddział NFZ")</div>
                        <div>@Html.Label("Przychodnia") @Html.DropDownListFor(a => a.HealthCenterId, new SelectList(Model.HealthCenter, "CenterId", "CenterName"), "Wybierz przychodnię", new { @id = "your-account-health-center", @onchange = "commonApi.getPhisicanNames('#your-account-health-center', '#your-account-phisican')" })</div>
                        <div>@Html.Label("Lekarz") @Html.DropDownListFor(a=>a.PhisicanId, new SelectList(Model.Phisican, "PhisicanId", "LastName"), "Wybierz lekarza", new { @id = "your-account-phisican" })</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- koniec your-data-main-panel-->
}
else
{
    <h1>Brak danych</h1>
}
