﻿@using NZOZB.Models.Common
@model Calendar

@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Zarejestruj wizytę</div>
                <div class="panel-body">
                    @Html.BeginForm("PatientVisit", "Home", FormMethod.Post)
                    <div class="row">
                        <div class="form-group">
                            <div>@Html.Label("Specjalizacja", new { @class = "col-md-2 control-label" }) </div>
                            <div>@Html.DropDownListFor(a => a.SpecializationId, new SelectList(Model.Specialization, "Id", "SpecializationName"), "Wybierz specjalizację", new { @class = "form-control", @id = "patient-visit-specialization", @onchange = "commonApi.getPhisicanNamesBySpecialization('#patient-visit-health-center', '#patient-visit-specialization', '#patient-visit-phisican')" })</div>
                        </div>
                        
                        <div class="form-group">
                            <div>@Html.Label("Przychodnia", new { @class = "col-md-2 control-label" })</div>
                            <div>@Html.DropDownListFor(a => a.CenterId, new SelectList(Model.Center, "Id", "CenterName"), "Wybierz przychodnię", new { @class = "form-control", @id = "patient-visit-health-center", @onchange = "commonApi.getPhisicanNamesBySpecialization('#patient-visit-health-center', '#patient-visit-specialization', '#patient-visit-phisican')" })</div>
                        </div>
                        <div class="form-group">
                            <div>@Html.Label("Lekarze", new { @class = "col-md-2 control-label" })</div>
                            <div>@Html.DropDownListFor(a => a.PhisicanId, new SelectList(Model.Phisican, "Id", "FullName"), "Wybierz lekarza", new { @class = "form-control", @id = "patient-visit-phisican" })</div>
                        </div>
                        <div id="visit-date" class="col-md-4">
                        </div>
                        <div class="col-md-3">
                            <p id="patient-visit-test-paragraph">Paragraph</p>
                        </div>
                        @{Html.EndForm();}
                        <div>
                            <button id="patient-visit-test-button">Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Odbyte wizyty</div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
    </div>
}

<script>
    //Wywołujemy by wypełnić listę lekarzy. Takie wywołanie jest niezbędne w przypadku
    //ponownego wysłnia formularza zawierającego błedne dane i ustawioną właściwość
    //HealthCenterId modelu.
//    commonApi.GetPhisicanNames('#patient-visit-health-center', '#patient-visit-specialization', '#patient-visit-phisican');
    commonApi.setDatePicker('#visit-date');
    //commonApi.setDateChangeEvent('#visit-date');
    commonApi.setTestClick();
</script>
