﻿@using NZOZB.Models.Common
@model Dictionary<string, List<ShortPhisicanInformation>>

<div>
    @foreach (var group in Model)
    {
            <div class="panel panel-default">
            @{
                var key = group.Key;
                <div class="panel-heading">@key</div>
                    <div class="panel-content">
                        <ul class="list-group">
                            @foreach (var phisican in group.Value)
                            {

                                <li class="list-group-item">
                                    @Ajax.ActionLink(phisican.FirstName + " " + phisican.LastName, "GETFullPhisicanInformation", "Home", new { phisicanId = phisican.PhisicanId }, new AjaxOptions()
                                {
                                    UpdateTargetId = "phisican-information",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET"
                                })
                                </li>
                            }
                        </ul>
                     </div>
            }
            </div>
    }
</div>
