﻿@using NZOZB.Models.Common
@using NZOZB.Models.ZOZB
@model FullPhisicanInformation

<div>
    @if (Model != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.FirstName @Model.LastName Średnia ocena: @Model.AverrageRate.ToString()
            </div>
            <div class="panel-content">
                <img src="../Photos/drmen01.jpg" class="img-thumbnail" width="200" alt="Zdjęcie @Model.LastName" />
            </div>
        </div>

        foreach (PhisicanOpinion opinion in Model.Opinion)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @opinion.OpinionDate ocena: @opinion.Rate.ToString()
                </div>
                <div class="panel-content">
                    <p>@opinion.Opinion</p>
                </div>
            </div>
        }
    }
</div>
