﻿
@using NZOZB.Models.Common
@model ClinicInformation


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
    Potrzebujemy:
    (1) Nazw przychodni i ich Id
    (2) Nazw poradni w przychodniach i ich id
    (3) Informacji o wybranej poradni
    Obiekt przekazany musi zawierać następujące informacje:
        Nazwę przychodni i Id
        Informację o poradniach w pierwszej przychodni
        Informację o pierwszej poradni
    Informację o pozostałych poradniach otrzymujemy po wybraniu odpowiedniego linku:
        (1) Wybór linku w kolumnie Przychodnie powoduje zwrócenie informacji:
            (a) o poradniach dostępnych w wybranej pzychodni
            (b) opis pierwszej poradni w wybranej przychodni
        (2) Wybór linku w kolumnie Poradnie powoduje zwrócenie informacji:
            (a) opis poradni o wybranym id
-->
<div class="container">
    
    <div class="row">
        <h1>Poradnie w naszych przychodniach</h1>
            <div class="col-sm-3">
                <div class="row">
                    <ul class="list-group">
                        <!-- kolumna na nazwy prychodni-->
                        @foreach (ShortCenterInformation center in Model.Centers)
                        {

                            <li class="list-group-item">
                                @Ajax.ActionLink(center.CenterName, "GETClinicList", "Home", new { healthCenterId = center.CenterId }, new AjaxOptions()
                       {
                           UpdateTargetId = "clinic-in-center",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       })
                            </li>
                        }
                    </ul>
                </div>
            </div>   

         <div class="col-sm-4">
            <!-- kolumna na nazwy poradani-->
            <div id="clinic-in-center">
                @Html.Partial("_ClinicList", Model.Clinics)
            </div>

        </div>
        <div class="col-sm-5">
            <!-- kolumna na informacje o poradni-->
            <div id="clinic-description">
                @if (Model.Clinics.Count > 0)
                {
                    @Html.Partial("_ClinicDescription", Model.Clinics[0])
                }

            </div>

        </div>
    </div>
</div>



