﻿@using NZOZB.Models.Common
@using NZOZB.Models.ZOZB
@using System.Globalization
@model ContactCards

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Potrzebujemy:
    (1) Nazw przychodni oraz:
        ich Id
        adresów pocztowych
        telefonów
        maili
        godzin otwarcia
        godzin rejestracji
    Obiekt przekazany musi zawierać następujące informacje:
        Nazwy przychodni i ich Id
        Adresy, maile, telefony, godziny otwarcia oraz godziny rejestracji pierwszej przychodni

    Informację o pozostałych poradniach otrzymujemy po wybraniu odpowiedniego linku.
-->


<div class="container">    
    <div class="row">
        <h1>Adresy przychodni</h1>
        <div class="col-sm-3">
            <!-- miejsce na nazwy przychodni i linki wyświetlające info o nich-->
            <div class="row ">
                <ul class="list-group">
                    @foreach (ShortCenterInformation item in Model.Centers)
                    {
                        <li class="list-group-item">
                            @Ajax.ActionLink(item.CenterName, "GETHealthCenterCard", "Home", new { healthCenterId = item.CenterId }, new AjaxOptions()
                       {
                           UpdateTargetId = "contact-card",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       })
                    </li>
                    }
                </ul>

            </div>

        </div>
        <div class="col-sm-9">
            <div id="contact-card">
                <!-- miejsce na dane adresoowe przychodni-->
                @if (Model.ContactCard != null)
                {
                    @Html.Partial("_ContactCenterAddress", Model.ContactCard)
                }
            </div>
        </div>

    </div>
</div>



