﻿@using NZOZB.Models.Common
@model List<ShortCenterInformation>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
    Informacje otrzymane:
        (1) Lista przychodni:
            (a) Id
            (b) Nazwa
            (c) Opis
    Układ:
        Dwie kolimny:
            lewa - lista przychodni
            prawa - opis pzychodni. Opis przychodni zmieniany po kliknięciu na wybranej przychodni

    Strukura modelu:
        List<ShortenterInfomration>
-->
<div class="container">    
    <div class="row">
        <h1>Sieć Niepublicznych Zakładów Opieki Zdrowotnej</h1>
        <div class="col-sm-3">
            <div class="row">
                <ul class="list-group">
                    @foreach (ShortCenterInformation item in Model)
                    {
                        <li class="list-group-item" >
                            @Ajax.ActionLink(item.CenterName, "GETShortCenterInformation", new { healthCenterId = item.CenterId }, new AjaxOptions
                            {
                                UpdateTargetId = "index-contact-card",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET"
                            })
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div class="col-sm-9">
            <div id="index-contact-card">
                @if (Model.Count > 0)
                {
                    @Html.Partial("_IndexCenterInformation", Model[0]);
                }
            </div>
        </div>
    </div>
</div>