﻿@using NZOZB.Models.Common
@model PhisicanInformation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Wyświetla informacje o lekarzach pracujących w przychodni.
    Otrzymane dane to:
        (1) Lista nazw przychodni i ich Id
        (2) Nazwiska lekarzy pracujących w pierwszej przychodni, ich specjalizacje i przynależność do przychodni.
            Nazwiska posortowane są wg. specjalizacji, potem alfabetycznie
    Wybór przychodni powoduje zmianę listy lekarzy i wyczyszczenie kolumny informacyjnej.
    Wybór lekarza powoduje zmianę informacji w kolumnie informacyjnej. Kolumna informacyjna zawiera następujące
    informacje:
        Imię i nazwisko
        Specjalizację lekarza
        Ocenę przez pacjentów
        Godziny przyjęć według dni
        Komentarze pacjentów
-->

<div class="container">
    <div class="row">
        <h1>Nasi lekarze</h1>
        <div class="col-sm-3">
            <div class="row">
                <!-- kolumna na nazwy przychodni-->
                <ul class="list-group">
                    @foreach (ShortCenterInformation center in Model.Centers)
                    {
                        <li class="list-group-item">
                            @Ajax.ActionLink(center.CenterName, "GETPhisicanList", "Home", new { healthCenterId = center.CenterId }, new AjaxOptions()
                   {
                       UpdateTargetId = "phisican-in-center",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div class="col-sm-3">
            <!-- kolumna na nazwiska lekarzy, pogrupowane wg. specjalności-->
            <div id="phisican-in-center">
                <div class="row">
                    @Html.Partial("_PhisicanList", Model.Phisicans)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- kolumna na informacje o lekarzu: rating, opinie, data opinii-->
            <div id="phisican-information">
                <div class="row">
                    @Html.Partial("_PhisicanFullInformation", Model.FullPhisicanInformation)
                </div>
            </div>
        </div>
    </div>
</div>


