﻿@using NZOZB.Models.Common
@model PatientAccount
@{
    ViewBag.Title = "Twoje konto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Twoje konto</h1>
        <div class="col-sm-3">
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">
                        @Ajax.ActionLink("Twoje dane", "GETPatientData", "Home", new { patientId = 0 }, new AjaxOptions()
                   {
                       UpdateTargetId = "account-detail-page",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
                    </li>

                    <li class="list-group-item">
                        @Ajax.ActionLink("Twoje wizyty", "GETPatientVisit", "Home", new { patientId = 0 }, new AjaxOptions()
                   {
                       UpdateTargetId = "account-detail-page",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
                </li>
                    <li class="list-group-item">
                        @Ajax.ActionLink("Apteka", "GETPatientMedicine", "Home", new { patientId = 0 }, new AjaxOptions()
               {
                   UpdateTargetId = "account-detail-page",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
               })
                    </li>

            </ul>

            </div>
        </div>
        <div class="col-sm-9">
            <div id="account-detail-page">
                @Html.Partial("_PatientData", Model.PatientData);
            </div>
        </div>
    </div>
</div>



