﻿#img-1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

.phisican-photo{
    width: 120px;
}
.list-group-item{
    width: 80%;
}
.bs-width {
    width: 100px;
}

.panel{
    width: 80%;
}

.panel-content p{
    margin-left: 10px;
    margin-right: 10px;
}

.receiver-address {
    width: 200px;
    height: 40px;
    border: 1px solid blue;
}

.receiver-address:invalid {
    border-color: red;
    color: red;
}


