﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdzić email w celu potwierdzenia zmiany hasła.
    </p>
</div>
	
