﻿@model NZOZB.Models.RegisterViewModel
<div class="container">
    <div class="row">
        <h1>Zapisz się do naszej przychodni</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Prosimy wypełnić formularz</div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Twój email", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Hasło", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Powtórz hasło", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Imię", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Nazwisko", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Nazwisko panieńskie matki", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.MotherFamilyName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Data urodzenia", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBox("birth-date", string.Format("{0:d}", Model.BirthDate.ToShortDateString()), new { @class = "date-picker", type = "date" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Pesel", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Pesel, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Ulica", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Kod pocztowy", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Miejscowość", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Numer telefonu", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>m
                    <div class="form-group">
                        @Html.Label("Kod oddziału NFZ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.NFZCode, new SelectList(Model.NFZ, "NFZRegionCode1", "Region"), "Oddział NFZ", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Numer karty ubezpieczenia", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.InsuranceCardNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Przychodnia", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.HealthCenterId, new SelectList(Model.Center, "CenterId", "CenterName"), "Twoja przychodnia", new { @id = "register-health-center", @class = "form-control", @onchange = "commonApi.getPhisicanNames('#register-health-center', '#register-phisican')" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Lekarze", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(a => a.PhisicanId, new SelectList(Enumerable.Empty<SelectListItem>(), "PhisicanId", "FullName"), "Twój lekarz", new { @id = "register-phisican", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    //Wywołujemy by wypełnić listę lekarzy. Takie wywołanie jest niezbędne w przypadku
    //ponownego wysłnia formularza zawierającego błedne dane i ustawioną właściwość
    //HealthCenterId modelu.
    commonApi.getPhisicanNames('#register-health-center', '#register-phisican');
</script>
